<div class="book-page">
    <a href="/books">Voltar</a>
    <div class="container">
        <h1>Titulo: {{this.title}}</h1>
        <h2>Paginas{{this.pages}}</h2>
        <h2>Categoria:{{this.category}}</h2>
    </div>
</div>